{% extends layout %}

{% block content %}
<h1>Detail about {{store.getName}}</h1>

<div class="well">
  {% if brands is not empty%}
  <h4>Brands in this store:</h4>
  <ul>
    {% for brand in brands%}
    <li>{{brand.getName}}</li><br>
    {% endfor%}
  </ul>
  {% else %}

  <h5>There is no brand yet</h5>
  {% endif%}
</div>

<h4>Add a brand</h4>
<div class="panel panel-info">
  <div class="panel-heading">Select a brand to add</div>
  <div class="panel-body">
    <form action='/store/{{store.getId}}/addBrand' method='post'>
      <div class="form-group">
        <label for="brand_id">Select a brand</label>
        <select id='brand_id' name='brand_id' type='text' class="form-control">
          {% for brand in all_brands %}
          <option value="{{ brand.getId }}"> {{ brand.getName }} </option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" name="button" class="btn btn-md btn-info">Add brand</button>
    </form>
  </div>
</div>

<h4>Edit store information</h4>
<div class="panel panel-warning">
  <div class="panel-heading">Edit this store info</div>
  <div class="panel-body">
    <form action='/store/{{store.getId}}/edit' method='post'>
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="name">Edit store name</label>
        <input type="text" name="name" class="form-control">
      </div>
      <button type="submit" name="button" class="btn btn-md btn-warning">Edit</button>
    </form>
  </div>
</div>

<h4>Delete this store</h4>
<div class="panel panel-danger">
  <div class="panel-heading">Delete this store</div>
  <div class="panel-body">
    <form action='/store/{{store.getId}}/delete' method='post'>
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="button" class="btn btn-md btn-danger">Delete this store</button>
    </form>
  </div>
</div>

<p><a href="/stores">All stores</a></p>
{% endblock %}
